
.navbar {
    display: flex;
    flex-direction: column; /* Display items vertically */
    width: 195px; /* Adjust the width as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #125174; /* Adjust background color as needed */
    padding: 10px;
    box-sizing: border-box;

    transition: transform 0.3s ease;

    border-top-right-radius: 10px; /* Round the top-right corner */
    border-bottom-right-radius: 10px; /* Round the bottom-right corner */
  }
  
  .collapsed {
    transform: translateX(-62%); /* or whatever width you want when collapsed */
  }
  

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
    color: #ffffff;
    width: 180px;
  }
  
  a {
    text-decoration: none;
    font-family: 'Hermeneus One';
    color: white;
    font-weight: bold;
    display: flex; /* Change inline to block to make the entire link clickable */
    padding: 15px; /* Add padding tos create a clickable area */
    border-radius: 5px; /* Add rounded corners for a button-like appearance */
    transition: background-color 0.3s;
  }
  
  a:hover {
    background-color: #7BC8EE; /* Change the background color on hover */
  }
  
  .logout-button {
    margin-top: auto; /* Push the logout button to the bottom */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  
  .logout-button  {
    background-color: rgb(255, 255, 255); /* Example background color for the logout button */
    padding: 10px 50px;
    border-radius: 20px; /* Add rounded corners for a button-like appearance */
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .logout-button :hover {
    background-color: rgb(255, 255, 255); /* Change the background color on hover */
  }

  .icon {
    background-color: rgb(255, 255, 255); /* Example background color for the logout button */
    border-radius: 10px; /* Add rounded corners for a button-like appearance */
    margin-left: 120px;
    position: fixed;
  }

  .hidden {
    opacity: 0; 
    pointer-events: none; /* Disable pointer events on hidden element */
    transition: opacity 0.5s ease; /* Add opacity transition for smooth visibility change */
  }
  
  
  
