.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 294px;
}

.infoContainer {
    width: 233px;
    height: 59px;
    background-color: #D9D9D9;
    border-radius: 6px;
    margin-left: 650px;
    margin-top: 50px;
    position: relative;
}

.infoText {
    left: 32px;
    top: 18px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 19px;
    font-family: Hermeneus One;
    font-weight: 400;
    word-wrap: break-word;
}
.radioLabel {
    display: flex;
    align-items: center;
    margin-right: 16px; /* Adjust margin as needed */
}
.formContainer {
    margin-top: 294px;
    margin-left: 950px;
    width: 460px;
    height: 48px;
    padding: 12px;
    background-color: #F8FAFC;
    border-radius: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; /* Add a value to the gap property */
    display: inline-flex;
}

.inputBox {
    width: 436px;
    color: #B8BCCA;
    font-size: 16px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16;
    word-wrap: break-word;
}

.SaveButtonContainer {
    margin-top: 909px;
    margin-left: 1250px;
}

.SaveButtonContainer button {
    width: 100px; /* Add units (e.g., px) */
    height: 41px; /* Add units (e.g., px) */
    background-color: #D9D9D9;
    border-radius: 10px; /* Add units (e.g., px) */
    padding: 10px;
    font-size: 19px;
    font-family: Hermeneus One;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    cursor: pointer;
}
