* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container-sidebar {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 200px;
  background: #9084d2;
  color: #ffffff;
}

.top_section {
  align-items: center;
  padding: 15px 15px;
  margin-bottom: 20px;
}

.logo {
  margin-right: auto;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.link {
  display: flex;
  color: #fff;
  padding: 17px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: rgb(146, 83, 127);
  color: #ffffff;
  transition: all 0.5s;
  border-radius: 10px;
}

.container .link:last-child {
  position: fixed;
  bottom: 10px;
}

.active {
  background: rgb(126, 78, 120);
  color: #ffffff;
  border-radius: 10px;
}

.icon {
  font-size: 20px;
}

.link_text {
  font-size: 13px;
  color: #ffffff;
}
