/* Badge.modules.css */


.badge-container {
  width: 1000px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

/* Only top border */
.badge-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px; 
  background-color: #8f8f8f;
}

/* Hide bottom border */
.badge-container::after {
  content: ''; 
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px; /* Move bottom border outside of container */
  height: 2px; /* Adjust the thickness of the border as needed */
  background-color: transparent; /* Set bottom border color to transparent */
}

.badge-container::before {
  top: 0;
}

.badge-container::after {
  bottom: 0;
}


.badge-wrapper {
  margin-top: 20px;
  display: flex;
  transition: transform 0.3s ease; /* Add smooth transition for better visual effect */
}


.show-next-button {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.show-previous-button {
  position: absolute;
  top: 10px;
  right: 50px; /* Adjust the value based on your desired spacing */
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.badge-container .badge {
  width: 100px; /* Adjust the width to your desired size */
  height: 100px; /* Adjust the height to your desired size */
}