.placeholder-container {
  display: flex;
  margin-top: 286px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.placeholder {
  width: 300px;
  height: 59px;
  background-color: #D9D9D9;
  border-radius: 6px;
  margin-left: 819px; /* Adjusted margin for better positioning */
  margin-top: 50px;
  position: relative;
}
.placeholderText {
  left: 29px;
  top: 18px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 19px;
  font-family: 'Hermeneus One';
  font-weight: 400;
  word-wrap: break-word;
}

.EditButtonContainer {
  margin-left: 1250px; /* To align it to the right */
  margin-top: 100px;
}

/* Apply styles to the button directly */
.EditButtonContainer button {
  padding: 10px;
  width: 100px;
  height: 41px;
  font-size: 19px;
  font-family: Hermeneus One;
  font-weight: 400px;
  word-wrap: break-word;
  background-color: #D9D9D9;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
