html, body{
  height: 100%;
  margin: 0;
}
.placeholder-container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  
}
.placeholder {
  width: 500px;
  height: 59px;
  background-color: #d9d9d9;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2%;
  position: relative;
  margin-left: 35%;
}
.placeholderText {
  left: 29px;
  top: 18px;
  color: black;
  font-size: 19px;
  font-family: "Hermeneus One";
  font-weight: 400;
  word-wrap: break-word;
}
/* Apply styles to the button directly */
.EditButtonContainer button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  padding: 10px;
  width: 100px;
  height: 41px;
  text-align: center;
  font-size: 19px;
  font-family: Hermeneus One;
  font-weight: 400px;
  background-color: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}
